# Starting my journey in ... Python

## Part 1 - Basics: hello worlds, datatypes, arithmetic ops.

#### 1.1. Hello world

In [14]:
print("Hello World!")

Hello World!

In [15]:
print(25)

25

In [16]:
x = 25
print(x)

25

In [17]:
x

25

#### 1.2. Datatypes

In [18]:
varsta = 19 # int
pi = 3.14 # float

print(varsta, pi)

19 3.14

In [19]:
type(varsta)

int

In [20]:
type(pi)

float

In [21]:
nume = "Alina" # str
propozitie = 'Alina "are" mere'
initiala = "A"

nume, propozitie, initiala

('Alina', 'Alina "are" mere', 'A')

In [22]:
varsta = "Douazecisipatru"
varsta

'Douazecisipatru'

In [23]:
type(varsta)

str

In [24]:
is_happy = True
is_sad = False

is_happy, is_sad

(True, False)

In [25]:
type(is_happy)

bool

In [26]:
nr = 212312312312312312312367567657
nr

212312312312312312312367567657

In [27]:
type(nr)

int

In [28]:
varsta_reala = 28.5

In [29]:
type(varsta_reala)

float

In [30]:
varsta_int = int(varsta_reala)
varsta_int

28

In [31]:
type(varsta_int)

int

In [32]:
varsta_err = int("HEI")

ValueError: invalid literal for int() with base 10: 'HEI'

In [33]:
varsta_noerr = int("25")
varsta_noerr

25

In [34]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [35]:
print(1, 2, 3, 4, sep=',')
print(5, 6, 7, 8)

1,2,3,4
5 6 7 8

In [36]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [38]:
a = input("a = ")
a

'20'

In [40]:
b = input()
b

'25'

In [41]:
a + b

'2025'

In [42]:
type(a)

str

In [43]:
c = input("c = ")

In [44]:
type(c)

str

In [45]:
a = int(a)
b = int(b)

a + b

45

In [46]:
a = int(input("a = "))
b = float(input("b = "))

a + b

72.0

In [47]:
a - b, a * b, a / b

(-44.0, 812.0, 0.2413793103448276)

#### TODO
Write a basic calculator program that takes as input two
numbers a and b and prints: 
- a + b, 
- a - b, 
- a * b, 
- division, 
- a % b, 
- a^b, 
- (a + b) * `radical din a`.

In [48]:
a = 7
b = 2
a % b

1

/ vs //

In [ ]:
type(a), type(b)

(int, int)

In [ ]:
7 / 2

3.5

In [ ]:
7 // 2

3

In [ ]:
import math

In [ ]:
a = int(input("a = "))
b = int(input("b = "))
a, b

a = 10
b = 5

(10, 5)

In [ ]:
a + b, a - b, a * b, a / b, a // b, a % b, a ** b, (a + b) * math.sqrt(a)

(15, 5, 50, 2.0, 2, 0, 100000, 47.434164902525694)

In [ ]:
math.sqrt(100)

10.0

In [ ]:
100 ** (1/2)

10.0

#### 1.3. Relational, Logical Operators

In [ ]:
1 >= 1 # <=, >, <, ==, !=

True

In [ ]:
# && si || dispar in python
1 and 0

0

In [ ]:
1 or 0

1

In [ ]:
not 0

True

In [ ]:
a = 2
a += 1
a

3

#### TODO
Given a 3-digit number, print True if its digits are in increasing
order, otherwise print False.

In [ ]:
a = 122 # True
a = 123 # True
# a = 212 # False

In [ ]:
c3 = a % 10
c2 = a // 10 % 10
c1 = a // 100
c1 <= c2 and c2 <= c3

True

### Part 2. If statement

In [51]:
n = 6

if n % 2 == 0:
    print("PAR")
    n += 10
    print(n)
    if n % 2 == 0:
        print("PAR si dupa")

print("END")

PAR
16
PAR si dupa
END

In [52]:
n = 10
if n % 2 == 0:
    print("PAR")
    n += 1
else:
    print("IMPAR")
    n += 2
n

PAR

11

In [53]:
x = 25
if x % 3 == 0:
    print("divisible by 3")
elif x % 3 == 1:
    print("remainder=1")
else:
    print("remainder=2")

remainder=1

#### TODO
Read two integers. If both numbers are even, interchange
last digits and print the new numbers. Otherwise,
compute their sum and compare the sum with 1000. If
less, print the sum and the message less, otherwise print
the sum and the message greater.

In [ ]:
a = int(input("a = "))
b = int(input("b = "))

a = 20
b = 10

In [54]:
a = 14
b = 2901

In [55]:
if a % 2 == 0 and b % 2 == 0:
    uc_a = a % 10
    uc_b = b % 10
    a_nou = a // 10 * 10 + uc_b
    b_nou = b // 10 * 10 + uc_a
    print(a_nou, b_nou)
else:
    suma = a + b
    print(suma)
    if suma < 1000:
        print("LESS")
    else:
        print("GREATER OR EQUAL")

2915
GREATER OR EQUAL

#### TODO
Read three integers that represents lengths of some lines. Check if they can form a triangle. If so, compute the area, otherwise print a specific message.

In [58]:
x = 3
y = 4
z = 5

if x + y > z and x + z > y and y + z > x:
    p = (x + y + z) / 2
    A_sq = p * (p - x) * (p - y) * (p - z)
    A = math.sqrt(A_sq) # <=> A_sq ** (1 / 2)
    print(A)
else:
    print("No triangle!")

6.0

In [60]:
x = 8
parity = "even" if x % 2 == 0 else "odd"
parity

'even'

### Part 4. While and For

In [13]:
i = 1
s = 0
while i <= 10:
    i = i + 1
    s = s + i
    print(i)

print("Sum is", s)

2
3
4
5
6
7
8
9
10
11
Sum is 65

#### TODO
1. Compute the sum of the the even numbers smaller than n.
2. Come up with a random number. Create a program that
lets the user guess the number. If the guess is smaller or
greater than the target, print accordingly. Stop only when
the user guesses the number correctly.

In [64]:
n = 89
guessed = -1
while guessed != n:
    guessed = int(input("n="))
    if guessed == n:
        print("YOUR GUESS IS CORRECT!")
        break
    print("BAD GUESS. TRY AGAIN.")

BAD GUESS. TRY AGAIN.
BAD GUESS. TRY AGAIN.
YOUR GUESS IS CORRECT!

In [ ]:
for i in range(10): # for(int i = 0; i < 10; i++){ cout << i; }
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
help(range)

In [ ]:
# [10, 40) -> step=3
for i in range(10, 40, 3):
    print(i)

10
13
16
19
22
25
28
31
34
37

#### TODO.
Print all strictly positive even numbers in decreasing order starting from a number n read from user.

### Part 5 - Lists

In [ ]:
# int a[10] = {1, 2, 3, 4}
# vector STL
# vector < int > v; v.push_back(10)

In [66]:
list_omo = [1, 2, 3, 4]
list_omo.append(5)
list_omo

[1, 2, 3, 4, 5]

In [ ]:
list_hete = [1, True, "ana", 2.5]

In [ ]:
list_hete.append(10) # adaugare la final -> O(1)
list_hete

[1, True, 'ana', 2.5, 10]

In [ ]:
len(list_hete)

5

In [ ]:
list_hete.append('a') # adaugare la final -> O(1)
list_hete

[1, True, 'ana', 2.5, 10, 'a']

In [ ]:
len(list_hete)

6

In [ ]:
if 2.5 in list_hete:
    print("THERE")
else:
    print("NOT THERE")

THERE

In [ ]:
list_evens = []
for i in range(2, 31, 2):
    list_evens.append(i)

In [ ]:
len(list_evens)

15

In [ ]:
list_evens

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [ ]:
for el in list_evens:
    print(el)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [ ]:
for i in range(len(list_evens)):
    print(list_evens[i])

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [ ]:
for i, el in enumerate(list_evens):
    print(i, el)

0 2
1 4
2 6
3 8
4 10
5 12
6 14
7 16
8 18
9 20
10 22
11 24
12 26
13 28
14 30

In [14]:
list_rnd = [5, 2, 9, 1, 4]
list_rnd.sort()
list_rnd

[1, 2, 4, 5, 9]

#### TODO
Create a list with square roots of the even numbers between 1 and 10.

In [ ]:
my_list = [i ** (1 / 2) for i in range(10) if i % 2 == 0]
my_list

[0.0, 1.4142135623730951, 2.0, 2.449489742783178, 2.8284271247461903]

In [ ]:
my_list = []
for i in range(10):
    if i % 2 == 0:
        my_list.append(i ** (1 / 2))
my_list

[0.0, 1.4142135623730951, 2.0, 2.449489742783178, 2.8284271247461903]

#### Part 6. Strings

In [16]:
a = "hei"
a

'hei'

In [17]:
type(a)

str

In [18]:
a + a

'heihei'

In [19]:
2 * a, 4 *a

('heihei', 'heiheiheihei')

In [ ]:
(a + " spatiu " + b + " si mai mult spatiu " + a * 3) * 2

'ana spatiu are si mai mult spatiu anaanaanaana spatiu are si mai mult spatiu anaanaana'

In [ ]:
name = "Marinicu"
name_list = ['M', 'a', 'r', 'i', 'n', 'i', 'c', 'u']

In [ ]:
name[0] == name_list[0]

True

In [ ]:
list(name[2:6])

['r', 'i', 'n', 'i']

In [ ]:
''.join(name_list[2:6])

'rini'

In [ ]:
name.upper().lower().capitalize()

'Marinicu'

In [20]:
sentence = "Ana are mere rosii"
tokens = sentence.split()
tokens

['Ana', 'are', 'mere', 'rosii']

In [ ]:
len(tokens)

4

In [ ]:
# CSV = Comma Separated Values

In [ ]:
help(sentence.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

Mutable vs. **immutable**

In [21]:
name = "Mortadella"
name[3] = "i"

TypeError: 'str' object does not support item assignment

In [22]:
name = "Mortadella"
new_name = name[:3] + "i" + name[4:]
print(new_name)

Moriadella

#### TODO.
Read a sentence from input.
1. Count number of spaces.
2. Count the number of words.
3. Find the longest word.
4. Add three dots at the end of the sentence.
5. Replace every word that starts with vowel with word HERE.

In [ ]:
spaces = 0
for ch in sentence:
    if ch == ' ':
        spaces += 1
spaces

In [ ]:
sentence.count(' ')

In [ ]:
spaces = sum([1 for ch in sentence if ch == ' '])
spaces

In [ ]:
sentence = sentence + "..."
sentence

## Part 7. Functions

len(), input(), print(), sort()

In [ ]:
def calling():
    print("RING")

In [ ]:
calling()
calling()
calling()

RING
RING
RING

In [ ]:
def calling_specific(name):
    print("RING to ", name)

In [ ]:
calling_specific("GIGI")
calling_specific("MIMI")

RING to  GIGI
RING to  MIMI

In [ ]:
def ridicare_la_patrat(x):
    vari = x * x
    return vari

In [ ]:
patrat_1 = ridicare_la_patrat(5)
patrat_1

25

In [ ]:
ridicare_la_patrat(5)

25

In [ ]:
def sum(a, b=1):
    return a + b

In [ ]:
sum()

TypeError: sum() missing 1 required positional argument: 'a'

In [ ]:
sum(2), sum(2, 3)

(3, 5)

In [ ]:
def power(baza, exp):
    return baza ** exp

In [ ]:
power(2, 5), power(5, 2)

(32, 25)

In [ ]:
power(exp=5, baza=2)

32

In [ ]:
power(2, 5)

32

In [ ]:
def operations(a, b):
    return a + b, a - b

In [ ]:
operations(5, 6)

(11, -1)

In [ ]:
ad, sc = operations(5, 6)

In [ ]:
ad

11

In [ ]:
sc

-1

In [ ]:
def hei():
    a = 2

print(hei())

None

### TODO.
Write a function that gets a string as input and returns True or False if the string is palindrome.

## Part 8. Files

In [ ]:
with open("file.txt", "r") as reader:
    for line in reader:
        print(line, end='')

prima linie
a doua
a treia
a patra

In [ ]:
with open("numbers.txt", "w") as writer:
    for i in range(100):
        writer.write(str(i))
        writer.write('\n')

In [ ]:
with open("numbers2.txt", "w") as writer:
    for i in range(10):
        writer.write(str(i))
        writer.write('\n')

## Part 9. Data structures

### 9.1. Set

In [23]:
my_set = {1, "Gicu", 2.5, False}

In [25]:
my_set

{1, 2.5, False, 'Gicu'}

In [26]:
my_set.add(5)
my_set

{1, 2.5, 5, False, 'Gicu'}

In [27]:
my_set.add("Misu")
my_set

{1, 2.5, 5, False, 'Gicu', 'Misu'}

In [29]:
my_set.add("Misu")
my_set  # nothing new

{1, 2.5, 5, False, 'Gicu', 'Misu'}

In [ ]:
my_set.add("Zimi") # O(1)
my_set

{1, 2.5, 5, False, 'Gicu', 'Misu', 'Zimi'}

In [30]:
2.5 in my_set  # O(1) spre deosebire de O(n)-ul de la liste

True

In [ ]:
my_set.remove("Misu")

In [ ]:
my_set

{1, 2.5, 5, False, 'Gicu', 'Zimi'}

In [ ]:
my_list = [11, 4, 4, 4, 5, 1, 2, 2, 2, 3, 3, 6]
my_list

[11, 4, 4, 4, 5, 1, 2, 2, 2, 3, 3, 6]

In [ ]:
set(my_list)

{1, 2, 3, 4, 5, 6, 11}

In [ ]:
empty_list = []
empty_set = set()

In [ ]:
type(empty_list), type(empty_set)

(list, set)

In [ ]:
my_set

{1, 2.5, 5, False, 'Gicu', 'Zimi'}

In [ ]:
for el in my_set:
    print(el)

False
1
2.5
Zimi
5
Gicu

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set1 - set2

{1, 2}

In [ ]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

type(set(list1))

set

### 9.2. Dict

In [ ]:
my_dict = {
    "nume1": 5,
    "nume2": 6,
    "nume3": 7
}

In [ ]:
my_dict

{'nume1': 5, 'nume2': 6, 'nume3': 7}

In [ ]:
chei = my_dict.keys()
chei

dict_keys(['nume1', 'nume2', 'nume3'])

In [ ]:
list_chei = list(chei)
list_chei

['nume1', 'nume2', 'nume3']

In [ ]:
my_dict.values()

dict_values([5, 6, 7])

In [ ]:
my_dict["nume1"]

5

In [ ]:
my_dict["nume4"]

KeyError: 'nume4'

In [ ]:
my_dict["nume1"] = 8

In [ ]:
my_dict

{'nume1': 8, 'nume2': 6, 'nume3': 7}

In [ ]:
my_dict["nume4"] = 105
my_dict

{'nume1': 5, 'nume2': 6, 'nume3': 7, 'nume4': 105}

In [ ]:
my_dict["nume4"]

105

In [ ]:
my_dict.get("nume5", "Nu am gasit cheia")

'Nu am gasit cheia'

In [ ]:
"nume5" in my_dict, "nume4" in my_dict

(False, True)

In [ ]:
105 in my_dict.values()

True

In [ ]:
del my_dict["nume4"]

In [ ]:
my_dict

{'nume1': 8, 'nume2': 6, 'nume3': 7}

In [ ]:
for key, value in my_dict.items():
    print(f"{key}: {value}")

nume1: 8
nume2: 6
nume3: 7

In [ ]:
for el in my_dict.items():
    print(el)

('nume1', 5)
('nume2', 6)
('nume3', 7)
('nume4', 105)

In [ ]:
my_dict[5] = 10

In [ ]:
my_dict

{'nume1': 8, 'nume2': 6, 'nume3': 7, 5: 10}

In [ ]:
my_dict[[1, 2]] = 2

TypeError: unhashable type: 'list'

In [ ]:
my_dict[(1, 2)] = 2

Cheile de dictionare vor fi doar obiecte IMMUTABLE (int, strings, tuples, float...) nu vor fi LISTE!

In [ ]:
my_dict[tuple([1, 2])] = 2

### TODO
Given a list of names, create a dictionary where the keys are the names and the values are the number of occs of that name in the list.

In [ ]:
names = ["Tara", "Mihai", "Patric", "Cezar", "Andrei", "Patric", "Tara", "Andrei", "Andrei"]

In [ ]:
names_dict = {}

for name in names:
    if name not in names_dict:
        names_dict[name] = 0

    names_dict[name] += 1

    print(names_dict)

{'Tara': 1}
{'Tara': 1, 'Mihai': 1}
{'Tara': 1, 'Mihai': 1, 'Patric': 1}
{'Tara': 1, 'Mihai': 1, 'Patric': 1, 'Cezar': 1}
{'Tara': 1, 'Mihai': 1, 'Patric': 1, 'Cezar': 1, 'Andrei': 1}
{'Tara': 1, 'Mihai': 1, 'Patric': 2, 'Cezar': 1, 'Andrei': 1}
{'Tara': 2, 'Mihai': 1, 'Patric': 2, 'Cezar': 1, 'Andrei': 1}
{'Tara': 2, 'Mihai': 1, 'Patric': 2, 'Cezar': 1, 'Andrei': 2}
{'Tara': 2, 'Mihai': 1, 'Patric': 2, 'Cezar': 1, 'Andrei': 3}

In [ ]:
names_dict

{'Tara': 1, 'Mihai': 1, 'Patric': 1, 'Cezar': 1, 'Andrei': 1}

## Part 10. Classes

### Example with points.

In [5]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def printy(self):
        print(f"Point:({self.x},{self.y})")

In [7]:
p1 = Point(0, 0)
p2 = Point(2, 2)
p1.printy()
p2.printy()

Point:(0,0)
Point:(2,2)

### Example with dogs.

In [8]:
class Dog:
    def __init__(self, name, rasa, age):
        self.name = name
        self.rasa = rasa
        self.age = age

    def bark(self):
        print(f"WOOF {self.name}")

    def walk(self):
        print(f"{self.name} is walking...!")

    def snacks(self, no_snacks):
        print(f"{self.name} is eating {no_snacks} snacks!")

In [9]:
dog1 = Dog("Rex", "Bulldog", 5)
dog2 = Dog("Max", "Bishon", 2)

In [10]:
dog1.bark()

WOOF Rex

In [11]:
dog2.bark()

WOOF Max

In [12]:
dog1.walk()

Rex is walking...!

In [ ]:
dog1.name, dog1.age, dog1.rasa

('Rex', 5, 'Bulldog')

In [ ]:
dog1.snacks(5)

Rex is eating 5 snacks!

#### TODO
Write a class for rectangle with methods areas and
perimeters. The attributes will be width and height.